.home-screen {
    width: 1920px;
    height: 1080px;
}

.header-section {
    width: 1920px;
    height: 115px;
    flex-shrink: 0;
    background-color: #003C55;
    display: flex;
}

.header-logo-container {
    display: flex;
    height: 150px;
    width: 300px;
}

.header-logo {
    width: 256px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 20px;
}

.event-container {
    margin-left: 400px;
    width: 613px;
    height: 115px;
    text-align: center;
    justify-content: center; 
    align-items: center;
    display: flex;
}

.event-title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.button-container {
    margin-left: 500px;
    width: 300px;
    height: 115px;
}

.custom-button {
    width: 239px;
    height: 47px;
    flex-shrink: 0;
    background-color: #FCD400;
    color: #000;
    border-radius: 50px;
    margin-top: 30px;
}

.mid-section {
    width: 1374px;
    height: 851px;
    flex-shrink: 0;
    background-color: #F4F5F8;
    margin-left: 237px;
    margin-right: 237px;
 
}

.logos-container {
    display: flex;
}

.destrcturing-img-container {
    margin-top: 20%;
}

.destrcturing-img {
    width: 901px;
    height: 116px;
    flex-shrink: 0;
}

.web-page-logo-img-container {
    margin-top: 12%;

}
.web-page-logo-img {
    width: 434px;
    height: 333px;
    flex-shrink: 0;

}

.button-container-mid-section {
    margin-top: 10%;
}

.footer-section {
    width: 1920px;
    height: 115px;
    flex-shrink: 0;
    background-color: #707070;
}

.footer-text-container {
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 600px;
}

.footer-text {
    color: #FFF;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
}